body{
    color: #191919;
    font-family: "Roboto Condensed", SansSerif;
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    outline: none;
}
a{
    color: #fff;
    transition: .4s;
}
a:hover{
    color: #da1a18;
}
h2{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    position: relative;
    transition: .4s;
    text-transform: uppercase;
    margin: 150px 0 60px;
}
h2::after{
    background: url("../img/line.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px 15px;
    content: ' ';
    position: absolute;
    transition: .4s;
    height: 15px;
    width: 100%;
    bottom: -20px;
    left: 0;
    right: 0;
}
h2:hover{

}
h2:hover::after{

}
.clearfix{
    zoom: 1;
}
.clearfix::after{
    display: table;
    width: 100%;
    clear: both;
    content: ' ';
}
._wraph-s{

}
._h-scroll{
    /*position: fixed;*/
    position: relative;
    top:0;
    left:0;
    right: 0;
    z-index: 1;
}
._head-box{
    background-color: rgb(25, 25, 25);
    height: 100px;
}
._b-fix{
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
._b-h100{
    height: 100%;
}
._h-tab{
    display: block;
    height: 100%;
    width: 100%;
}
._h-tab-logo{
    display: block;
    width: 125px;
    float: left;
    height: 100%;
}
._logo{
    height: 100px;

    background: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
._logo-box{
    display: table;
    width: 100%;
    height: 100%;
}
._logo-box-cell ._svg{
    max-height: 100px;
    box-sizing: border-box;
    padding: 5px 0;
}
._logo-box-cell ._svg *{
    transition: .4s;
    fill: #fff;
}
._logo-box-cell ._svg:hover *{

    fill: #da1a18;
}
._logo-box-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
._h-tab-menu{
    display: block;
    float: left;
    height: 100%;
}
._menu{
    height: 100%;
    width: 100%;
}
._menu ul{
   list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    height: 100%;
    width: 100%;
}
._menu ul li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
._menu ul li.current a, ._menu ul li.current ._svg *{
    stroke: #da1a18;
    color: #da1a18;
}
._menu ul li a{
   list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    text-transform: uppercase;

    font-size: 24px;
    color: rgb(226, 226, 226);
    text-align: left;
    text-decoration: none;
    transition: .4s;
}
._menu ul li:first-child{
    padding-left: 30px;
}
._menu ul li + li{
    padding-left: 40px;
}
._menu ul li a:hover{
    color: #da1a18;
}
._-home-btn{

}
._-home-btn ._svg{
    width: 34px;
    height: 34px;
    transition: .4s;
}
._-home-btn ._svg *{
    stroke: #fff;
    color: #fff;
    transition: .4s;
}
._-home-btn ._svg:hover *{
    stroke: #da1a18;
    color: #da1a18;
}
._h-tab-button{
    height: 100%;
    display: block;
    float: right;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
._h-tab-button a{
    text-decoration: none;
}
._btn-T {
    display: table;
    height: 100%;
    cursor: pointer;
    font-size: 0;
    font-weight: bold;
}
._btn-T *{
    font-size: 1rem;
}
._btn {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    transition: .4s;
    padding: 15px 60px;
    text-transform: uppercase;
}
._btn-T span{
    display: table-cell;
    padding: 0 75px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    vertical-align: middle;
    transition: .4s;
}
._btn-red {
    background-color: #da1a18;
    transition: .4s;
    color: #fff;
 }
._btn-red:hover {
    background-color: #B2B1B1;
    transition: .4s;
 }
._btn-red:hover, ._btn-red:hover span {
    color: #191919;
    transition: .4s;
}

._btn-bagr {
    background-color: #da1a18;
    transition: .4s;
    color: #fff;
 }
._btn-bagr:hover {
    background-color: #B2B1B1;
    transition: .4s;
 }
._btn-bagr:hover, ._btn-bagr:hover span {
    color: #191919;
    transition: .4s;
}
._btn-bagr-more{
    background-color: #000000;
    transition: .4s;
    color: #fff;
    padding: 15px 15px;
}
._btn-bagr-more svg, ._btn-bagr-more ._svg{
    overflow: visible;
    display: inline-block;
    font-size: 0;
    margin-bottom: -3px;
    text-align: left;
}

._btn-bagr-more svg *{

}
._btn-bagr-more:hover svg *{

}
._cat-dtl ._btn{
    height: 58px;
}
._cat-dt-btnbox{
   display: block;
}
._cat-dt-btnbox-w{
    display: table;
    width: 100%;
}
._cat-dt-btnbox-w a{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
._youtube-btn{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    height: 100%;
    width: auto;
    border: 2px #000 solid;
    transition: .4s;
    background: #fff;
}
._btn-bagr-more:hover ._youtube-btn{
    border: 2px #B2B1B1 solid;
    transition: .4s;
}
._btn-bagr-more:hover ._youtube-btn ._svg *{
    stroke-width: 0;
    transition: .4s;
}
._youtube-btn ._svg, ._youtube-btn img{
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
    width: auto;
    text-align: left;
    transition: .4s;
}
._youtube-btn ._svg #play{
    fill: #d8362a;
    stroke: none;
    transition: .4s;
}
._youtube-btn ._svg #white{
    fill: #fff;
    stroke: none;
    transition: .4s;
}
._btn-bagr-more:hover ._youtube-btn ._svg #play{
    fill: #d8362a;
    transition: .4s;
    opacity: 0;
}
._btn-bagr-more:hover ._youtube-btn ._svg #youlogo, ._btn-bagr-more:hover ._youtube-btn ._svg #youlogo *{
    transition: .4s;
}
._btn-bagr-more:hover ._youtube-btn ._svg #youlogo, ._btn-bagr-more:hover ._youtube-btn ._svg #youlogo *{
    fill: #d8362a;
    transition: .4s;
    opacity: 1;
    fill-opacity: 1;
}
._youtube-true ._btn-bagr-more span{
    padding-right: 50px;
}
._h-tab-tel{
    display: block;
    float: right;
    height: 100%;
}
._tb-tel{
    display: table;
    height: 100%;
}
._tb-tel-w{
    display: table-row;
}
._tb-tel-w a{
    display: table-cell;
    vertical-align: middle;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 0 10px;
}
._tb-tel-w span{
    color: #B2B1B1;
}
._tb-tel-w a span + span{
    margin-left: 8px;
}
._sml-t{
    text-align: center;
}
._sml-txt{
    font-size: 13px;
}
._tb-tel-w a span + span{
    margin-left: 8px;
}
._c-gray{
    color: #B2B1B1;
    transition: .4s;
}
._c-white{
    color: #fff;
    transition: .4s;
}

._tb-tel a:hover ._c-white{
    color: #da1a18;
}
/**/
._b-body {
    /*margin-top: 100px;*/
    position: relative;
    z-index: 0;
}
._scr1-box-slider{
    position: relative;
}
._scr1-box-slider ._b-fix{
    position: relative;
    z-index: 9;
}
._scr1-box-slider, ._scr1-box{
    min-height: 800px;
    height: 100vh;
    background-repeat: no-repeat, no-repeat!important;
    background-size: cover, 0 0!important;
    background-position: top, top!important;
    position: relative;
}
._scr1-box-sl{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
}
._scr1-box-sl .slick-list{
    height: 100%!important;
}
._scr1-box-sl .slick-track{
    height: 100%!important;
}
._scr1-box-sl .slick-slide{
    height: 100%!important;
}
._cat-info{
    padding: 40px 47px;
}
._scr1-t{
    display: table;
    height: 100%;
    width: 100%;
}
._scr1-t-cont{
    display: table-cell;
    vertical-align: middle;
    padding: 3% 0 0 180px;
}
._scr1-t-cont h1{
    font-size: 72px;
    color: #fff;
    font-weight: normal;
    display: inline-block;

}
._scr1-t-cont h1 span{
    font-size: 78px;
    transition: .4s;
    font-weight: bold;
}
._scr1-t-cont h1:hover span{
    color: #da1a18;
}
._scr2-box{

}
._cat-wraph{

}
._cat{
    margin: 0;
}
._cat-img{
    background-repeat: no-repeat, no-repeat!important;
    background-size: contain, 0 0!important;
    overflow: hidden;
    padding-top: 100%;
    transition: 1s;
    position: relative;
}
._cat-img ._cat-img{
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    right: 0;
    transition: 1s;
}
._cat-img ._cat-img:hover{
    transition: 1s;
    opacity: 0;
}
._cat-dtl{

}
._cat-dtl h4._js-pre-name{
    font-size: 22px;
    text-transform: uppercase;
}
._cat-dtl h3{
    font-size: 30px;
    margin: 15px 0;
    text-transform: uppercase;
}
._cat-dtl h4{
    font-size: 36px;
    margin: 15px 0;
}
._cat:hover ._cat-img{
    /*
    transition: .4s;
    background-repeat: no-repeat, no-repeat;
    background-size: 0 0, contain!important;*/
}
/**/
._sl-wraph{
    padding: 0 200px;
    position: relative;
}
._slider{
    position: relative;
    z-index: 1;
    padding: 0 65px;
}
.slick-arrow{
    font-size: 0;
    width: 50px;
    height: 50px;
    top:45%;
    position: absolute;
    background: url("../img/arrows.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
.slick-prev{
    background-position: 0px -50px;
    left: 0px;
}
.slick-prev:hover{
    background-position: -50px -50px;
}
.slick-next{
    right: 0px;
    background-position: 0px 0px;
}
.slick-next:hover{
    background-position: -50px 0px;
}
/*
slick-prev slick-arrow
slick-next slick-arrow
*/
._slider-i{
    padding: 0 50px;
}
._item{

}
.row-t{
    display: table;
    width: 100%;
    font-size: 0;
}
.col-sm-5-t{
    font-size: 1rem;
    display: table-cell;
    width: 40%;
    vertical-align: middle;
}
.col-sm-7-t{
    font-size: 1rem;
    display: table-cell;
    width: 60%;
    vertical-align: middle;
}
._item-photo{
    width: 100%;
    padding-top: 100%;
    background-size: contain!important;
    background-repeat: no-repeat!important;
}
._item-text{
    margin: 0 0 0 -50px;
    background: #fff;
    padding: 20px;
    box-shadow: 4px 4px 20px -2px rgba(0,0,0,.2);
}
._item-text h3{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}
._item-text p{
    font-size: 18px;
    font-weight: bold;
}
._dj-link{
    color: rgba(0, 0, 0, 0);
    margin-left: 20px;
    width: 80px;
    display: inline-block;
}
._dj-link svg{
    transition: .4s;
    width: 60px;
    fill: #B2B1B1;
    max-height: 35px;
}
._dj-link svg *{
    transition: .4s;
}
._dj-link:hover svg *{
    transition: .4s;
    fill: #da1a18;
}
/**/
._ab-wraph{
    padding: 70px 0;
}
._ab-text{
    background: #fff;
    padding: 20px;
    margin: -35px -100px 0 0;
    box-shadow: 4px 4px 20px -2px rgba(0,0,0,.2);
}
._ab-text p{
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
}
._ab-ico{
    padding: 40px 0 0 0;
}
._ab-ico-w{
    display: table;
    width: 100%;
}
._ab-ico-w-i{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
._ab-ico-w-i ._svg{
    width: 125px;
    height: 125px;
}
._ab-ico-w-i ._svg *{
    transition: .4s;
}
._ab-ico-w-i span{
    display: block;
    font-size: 18px;
    font-weight: bold;
    transition: .4s;
    color: #373737;
}
._ab-ico-w-i:hover ._svg *, ._ab-ico-w-i:hover span{
    fill: #da1a18;
    color: #da1a18;
}
._ab-img{
    width: 100%;
    padding-top: 60%;
    background: url("../img/about-dj.jpg");
    background-repeat: no-repeat!important;
    background-size: contain!important;
    display: inline-block;
}
._ab-s1{
    position: relative;
    z-index: 1;
}
._ab-s2{
    position: relative;
    z-index: 0;
}
/**/
._scr5-box{
    background: url("../img/footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
}
._ft-bbox{
    text-align: center;
}
._ft-soc{
    width: 50%;
    margin: 80px auto 10px;
}
._ft-soc-m{
    width: 75%;
    margin: 0 auto 90px;
}
._ft-soc-t{
    display: table;
    width: 100%;
}
._ft-soc-t ._ft-soc-t-cell{
    display: table-cell;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
._ft-soc-m ._ft-soc-t ._ft-soc-t-cell{
    display: table-cell;
    text-align: center;
    text-decoration: none;
    width: 33.333%;
    vertical-align: top;
}
/**/
._location-w{
    color: #fff;
}
._location-w h3{
    display: block;
    font-size: 18px;
    font-weight: 700;
    transition: .4s;
}
._location-w p{
    font-size: 16px;;
    line-height: 1.5;
}
._location-w ._svg{
    width: 100px;
    height: 100px;
    display: inline-block;
}
._location-w ._svg *{
    fill: #fff;
    transition: .4s;
}

._location-w:hover ._svg #red-color, ._location-w:hover ._svg #red-lent{
    transition: .4s;
    opacity: 1;
    fill-opacity: 1;
    fill: #da1a18;
}
/**/
._ft-soc-wrap{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
._ft-soc-wrap-item{
    position: relative;
    padding: 0 50px;
}
._ft-soc-wrap-item img{
    width: 100%;
    display: block;
}
/**/
._ft-soc-t a{
    text-align: center;
    text-decoration: none;
}
._ft-soc-t a ._svg{
    width: 55px;
    height: 55px;
}
._ft-soc-t a ._svg *{
    transition: .4s;
}
._ft-soc-t a:hover ._svg *{
    fill: #da1a18;
}
/**/
._form {

}
._form-w{

}
._form-row{

}
._form-row input[type="text"], ._form-row input[type="email"], ._form-row input[type="phone"], ._form-row input[type="number"], ._form-row input[type="search"]{
    border-width: 1px;
    border-color: rgb(205, 205, 205);
    border-style: solid;
    background: #fff;
    height: 43px;
    padding: 5px 10px;
    width: 100%;
    max-width: 360px;
}
._form-row textarea{
    border-width: 1px;
    border-color: rgb(205, 205, 205);
    border-style: solid;
    background: #fff;
    height: auto;
    padding: 5px 10px;
    width: 100%;
    max-width: 360px;
    min-height: 100px;
}
._form-row + ._form-row{
    margin:25px 0 0 0;
}
._form-row:last-child{
    margin:25px 0;
}
._header-m-1{
    z-index: 2;
}
._header-m-2{
    z-index: 1;
}
._cat-wraph .col-sm-3:nth-child(4n+5){
    clear: both;
}
._cat-wraph .col-sm-3:nth-child(1n+5){
    margin-top: 60px;
}
/**/
._hide-galery{
    display: none;
}
._js-opgalery{
    cursor: pointer;
}
/**/
._item-desc{

}
._item-desc h1{

}
._item-desc h2{
    font-size: 30px;
    text-align: center;
    position: relative;
    transition: .4s;
    margin: 55px 0 45px;
}
._item-desc h3{

}
._item-desc h4{

}
._item-desc ul{
    text-align: left;
    margin: 10px 0;
}
._item-desc ul li{
    margin: 7px 0;
}
/**/
._ad-name{
    color: #191919;
    text-decoration: none;
}
/**/
._banner{
    text-align: center;
    width: 100%;
}
._banner a{
    display: block;
    width: 100%;
}
._banner a img{
    display: block;
    width: 100%;
}
.sticky-wrapper{
    z-index: 99999!important;
    position: relative!important;
}
.remodal-wrapper, .fancybox-overlay, .remodal-overlay{
    z-index: 999999;
}
._form-w ul{
    list-style: none;
}
._ab-tovar {

}
._ab-tovar h2 + h2{
    margin-top: 90px;
}
._ab-tovar-price{

}
._ab-video{
    margin-top: 75px;
}
._ab-tovar-info{
    padding-left: 40px;
}
._ab-tovar-price h4{
    font-size: 42px;
    margin: 0;
}
._ab-tovar ._cat-dt-btnbox-w {
    display: table;
    width: 100%;
    padding-top: 30px;
}
._ab-wraph._ab-tovar {
     padding: 0 0 45px;
}
._ab-tovar h2 {
    margin: 35px 0 35px;
}
._ab-tovar ul{

}
._ab-tovar-video{
    text-align: center;
}
._ab-tovar-video iframe{
    display: inline-block!important;
}
._ad-dop-info{
    margin-top: 60px;
}
/**/
._ft-soc-t-ogrn{
    margin-top: 135px;
    color: #fff;
    text-align: center;
}
#officeIco:hover path:nth-child(5){
    fill: #da1a18;
}
._btn-bagr._css-no-more,._btn-bagr._css-no-more:hover, ._btn-bagr._css-no-more:hover span {
    color: #fff;
    transition: .4s;
    background-color: #b5b5b5;
}
._homeback{
    display: none;
}