@media only screen and (max-width: 1519px) {
    ._menu ul {
        display: block;
        padding-top: 35px;
    }
    ._menu ul li a {
        font-size: 18px;
    }
    ._tb-tel a {
        font-size: 45px;
    }
    ._b-fix {
        padding: 0 15px;
    }
    ._sl-wraph {
        padding: 0 120px;
    }
    ._ab-ico-w-i ._svg {
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width: 1279px) {
    ._scr1-t-cont {
        padding: 0 0 0 180px;
    }
    ._h-tab-menu {
        margin: 0 -200px 0 0;
    }
    ._menu ul li + li {
        padding-left: 15px;
    }
    ._tb-tel a {
        font-size: 30px;
    }
    ._-home-btn ._svg {
        width: 26px;
        height: 26px;
    }
    ._btn-T span {
        padding: 0 70px;
    }
    ._h-tab-button {
        margin-right: 10px;
    }
    ._sl-wraph {
        padding: 0;
    }
    ._cat-wraph .col-sm-3{
        width: 50%;
    }
    ._cat {
        padding: 30px;
        margin:30px 0 0 0;
    }
    ._cat-wraph .col-sm-3:nth-child(1) ._cat, ._cat-wraph .col-sm-3:nth-child(2) ._cat{
        margin:0;
    }
    /**/
    ._cat-wraph .col-sm-3:nth-child(4n+5){
        clear: none;
    }
    ._cat-wraph .col-sm-3:nth-child(1n+3){
        margin-top: 60px;
    }
    ._cat-wraph .col-sm-3:nth-child(2n+3){
        clear: both;
    }
}
@media only screen and (max-width: 1023px) {
    ._scr1-t-cont {
        padding: 0;
        text-align: center;
    }
    ._scr1-t-cont h1 {
        text-align: center;
    }
    ._ab-wraph{

    }
    ._ab-wraph ._ab-s1{
        width: 100%;
    }
    ._ab-wraph ._ab-s2{
        width: 100%;
    }
    ._ab-ico {
        padding: 40px 0;
    }
    ._ab-img{
        margin: 0;
        padding: 65% 0 0;
        background-size: cover;
    }
    ._form .remodal-cancel{
        width: 100%;
        max-width: 360px;
    }
    ._slider {
        z-index: 1;
        padding: 0 15px;
    }
    ._slider .slick-arrow{
        display: none!important;
    }
    ._slider-i {
        padding: 0;
    }
    ._tb-tel a {
        font-size: 20px;
    }
    ._h-tab-button {
        margin-right: 5px;
    }
    ._btn-T span {
        padding: 0px 16px;
        font-size: 20px;
    }
    ._cat-wraph .col-sm-3:nth-child(1) ._cat, ._cat-wraph .col-sm-3:nth-child(2) ._cat{
        margin:30px 0 0 0;
    }
    ._cat-dtl{
        width: 100%;
        text-align: center;
    }
    ._btn{
        width: 100%;
        text-align: center;
    }
    h2 {
        margin: 125px 0 60px;
    }
    ._item-text{
        box-shadow: none;
        margin: 0;
    }
    .row-t{
        width: 100%;
        display: block;
    }
    .col-sm-5-t{
        width: 100%;
        display: block;
    }
    .col-sm-7-t{
        width: 100%;
        display: block;
    }
    ._ab-text {
        margin: 0;
        box-shadow: none;
    }
    ._scr1-box {
        height: auto!important;
        min-height: auto;
    }
    ._item-desc ul{
        padding: 0;
    }
    ._cat-dt-btnbox-w {
        display: block;
        width: 100%;
    }
    ._cat-dt-btnbox-w a {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    ._btn-bagr-more {
        background: #fff;
        border: 2px #000000 solid;
    }
    ._btn-bagr-more ._svg *{
        stroke: #000;
        fill: #000;
    }
    ._btn-bagr-more:hover {
        background: #fff;
        border: 2px #DA1A18 solid;
    }

    ._btn-bagr-more:hover ._svg *{
        stroke: #DA1A18;
        fill: #DA1A18;
    }
    ._btn-bagr-more ._svg, ._btn-bagr-more svg {
        margin-bottom: -3px;
    }
    ._btn-bagr-more{
        color: #000;
    }
    ._btn-bagr-more:hover span{
        color: #da1a18;
    }
    /**/
    ._youtube-btn {
        position: absolute;
        right: -1px;
        top: -1px;
        bottom: -1px;
        height: auto;
        width: auto;
        border: 1px solid #000;
        -webkit-transition: .4s;
        transition: .4s;
    }
    ._ft-soc-wrap-item {
        position: relative;
        padding: 0 20px;
    }
    ._ft-soc-m {
        width: 80%;
        margin: 0 auto 90px;
    }
    ._btn-bagr-more ._youtube-btn{
        margin: -1px 0;
        border: 2px #000 solid;
    }
    ._btn-bagr-more:hover ._youtube-btn{
        border: 2px #da1a18 solid;
        transition: .4s;
    }
    /**/
    ._ab-tovar-info {
        padding-left: 0;
        text-align: center;
    }
    ._ab-tovar-price h4 {
        font-size: 4rem;
        margin: 0;
    }
}
@media only screen and (max-width: 799px) {
    ._b-fix {
        max-width: 100vw;
    }

    ._h-tab-menu {
        display: none;
    }

    ._head-box ._header-m {
        display: table;
        float: none;
        width: 100%;
    }

    ._head-box ._header-m-1 {
        display: table-cell;
        float: none;
    }

    ._head-box ._header-m-2 {
        display: table-cell;
        float: none;
    }

    ._btn-T span {
        padding: 0 65px;
    }

    ._cat-wraph .col-sm-3 {
        width: 100%;
    }

    ._scr1-t-cont h1 {
        font-size: 60px;
    }

    ._ab-wraph {
        padding: 10px 0;
    }

    ._ft-soc {
        width: 80%;
        margin: 80px auto 10px;
    }

    ._h-scroll {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    ._head-box {
        background-color: #191919;
        height: auto;
    }

    ._b-body {
        margin-top: 0;
        z-index: 0;
    }

    /**/
    ._head-box ._header-m {
        display: block;
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    ._header-m-1, ._header-m-2{
        display: block!important;
        float: none;
        width: 100%;
    }
    ._header-m-2{
        margin-bottom: 50px;
    }
    ._h-tab {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }
    ._h-tab-logo {
        display: inline-block;
        width: 125px;
        float: none;
        height: 100px;
    }
    ._h-tab-tel {
        display: block;
        float: none;
        height: 100%;
        text-align: center;
    }
    ._tb-tel {
        display: inline-block;
        height: 100%;
    }
    ._tb-tel a {
        font-size: 38px;
        padding: 25px 0;
    }
    ._h-tab-button {
        float: none;
        margin: 0;
        padding: 0;
    }
    ._btn-T {
        display: inline-block;
        height: 100%;
        font-size: 0;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }
    ._btn-T span {
        padding: 0;
        text-align: center;
        display: block;
    }
    /**/
    ._fx-hidemobile{
        display: none;
    }
    ._cat-wraph .col-sm-3:nth-child(4n+5){
        clear: none;
    }
    ._cat-wraph .col-sm-3:nth-child(1n+2){
        margin-top: 60px;
    }
    ._cat-wraph .col-sm-3:nth-child(2n+3){
        clear: none;
    }
    ._sml-txt{
        display: table-cell;
        padding-bottom: 50px;
    }
    ._sml-txt br{
        display: none;
    }
    /**/
    ._scr1-box-slider, ._scr1-box{
        min-height: 800px;
        height: 100vh;
        background-repeat: no-repeat, no-repeat!important;
        background-size: 0 0, cover!important;
        background-position: top, top!important;
        position: relative;
    }
    ._ft-soc-wrap-item {
        position: relative;
        padding: 0 30px;
    }
    ._ft-soc-m {
        width: 100%;
        margin: 0 auto 90px;
    }
    /**/
    ._homeback{
        display: block;
        position: fixed;
        bottom: 15px;
        top: auto;
        left: 15px;
        width: 50px;
        height: 50px;
    }
    ._homeback ._svg-on{
        width: 100%;
    }
    ._homeback ._svg-on *{
        fill: #da1a18;
        stroke-width: 3px;
        stroke: #fff;
    }
}
@media only screen and (max-width: 639px) {
    ._b-fix{
        max-width: 100vw;
    }
    ._ab-ico-w {
        display: block;
        width: 100%;
    }
    ._ab-ico-w-i {
        display: block;
        vertical-align: middle;
        margin: 0;
    }
    ._ab-ico-w-i + ._ab-ico-w-i{
        margin: 30px 0 0 0;
    }
    ._ft-soc {
        width: 100%;
        margin: 80px auto 10px;
    }
    ._scr1-t-cont h1 {
        font-size: 46px;
    }
    ._cat {
        padding: 15px;
        margin: 30px 0 0;
    }
    ._item-text h3 {
        font-size: 46px;
    }
    ._item-text h3 {
        text-align: center;
    }
    ._ft-soc-t a ._svg {
        width: 45px;
        height: 45px;
    }
    ._ft-soc-m ._ft-soc-t ._ft-soc-t-cell {
        display: block;
    }
    ._ft-soc-m ._ft-soc-t ._ft-soc-t-cell + ._ft-soc-t-cell {
        margin-top: 30px;
    }
    /**/
    ._ft-soc-m ._ft-soc-t ._ft-soc-t-cell{
        width: 100%;
        vertical-align: middle;
    }
}
/**/
@media only screen and (max-width: 480px) {
    ._cat-dtl h3 {
        font-size: 30px;
        margin: 30px 0;
        text-transform: uppercase;
    }
    ._youtube-true ._btn-bagr-more span{
        padding-right: 50px;
    }
}
/**/
@media only screen and (max-width: 359px) {
    ._cat-dtl ._btn {
        padding: 16px 15px;
    }
    ._youtube-true ._btn-bagr-more span{
        padding-right: 50px;
    }
}
@media only screen and (max-width: 320px) {

}