extends ./layout/layout2
block head-box
    - var pageTitle = 'Рюкзак DJB Backpack';
    - var pageImg = './assets/img/DJB-Backpack-1.jpg';
    - var version = 5;
    - var header = 2;

block layout-box
    ._b-body._js-product
        ._wraph-s.clearfix
            ._scr4-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr4-t
                                h2._js-name Рюкзак DJB Backpack
                            ._ab-wraph._ab-tovar.clearfix
                                 .row.clearfix
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        ._ab-tovar-slider
                                            ._ab-tovar-slider-w
                                                img(src="./assets/img/DJB-Backpack-1.jpg")
                                                img(src="./assets/img/DJB-Backpack-2.jpg")
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        h3 DJB Backpack рюкзак для микшерных пультов и проигрывателей
                                        h3 Характеристики:
                                        ul
                                            li Цвет черный;
                                            li Состав: NYLON1680D на основе ПВХ. подкладка NYLON600D;
                                            li Эти модели имеют надежные колесики на подшипниках и удобные ручки для переноса;
                                            li Наружный карман для мелочей;
                                            li Внутренний отсек разделен на секции для удобства;
                                            li Имеются дополнительные липучки для крепления контроллера к сумке.
                                            li Мягкие стенки сумки надежно защитят оборудование;

                                        ._ab-tovar-info
                                            ._ab-tovar-price
                                                h4 Скоро в продаже
                                            ._cat-dt-btnbox-w
                                                ._btn._btn-bagr._js-buy заказать
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ad-dop-info
                                        h2 Заказ по телефону: <nobr>8 (800) 505-78-25</nobr>
                                        h2 Доставка по Москве бесплатная.
