extends ./layout/layout2
block head-box
    - var pageTitle = 'Сумка-рюкзак DJB CD&M Plus';
    - var pageImg = './assets/img/DJB-CD-M-1.jpg';
    - var version = 5;
    - var header = 2;

block layout-box
    ._b-body._js-product
        ._wraph-s.clearfix
            ._scr4-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr4-t
                                h2._js-name Сумка-рюкзак DJB CD&M Plus
                            ._ab-wraph._ab-tovar.clearfix
                                 .row.clearfix
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        ._ab-tovar-slider
                                            ._ab-tovar-slider-w
                                                img(src="./assets/img/DJB-CD-M-Plus-1.jpg")
                                                img(src="./assets/img/DJB-CD-M-Plus-2.jpg")
                                                img(src="./assets/img/DJB-CD-M-Plus-3.jpg")
                                                img(src="./assets/img/DJB-CD-M-Plus-4.jpg")
                                                img(src="./assets/img/DJB-CD-M-Plus-5.jpg")
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        h3 Сумка-рюкзак для переноски и хранения DJ микшерных пультов и проигрывателей компакт дисков.
                                        h3 Характеристики:
                                        ul
                                            li Цвет черный;
                                            li Эти модели имеют удобные ручки для транспортировки, но и специальные лямки, что бы использовать сумку как рюкзак, которые легко убираются в специальный карман.
                                            li Большой наружный карман на молнии с дополнительными отделениями под ноутбук или пластинки, сетчатый карман на молнии.
                                            li Стенки модели имеют пластиковый каркас с мягким наполнением которые надежно защищают контроллер от внешних воздействий, так же для удобства используются мягкие вставки для подгонки вашего устройства под сумку.
                                            li Состав: NYLON1680D на основе ПВХ. подкладка NYLON300D.
                                            li Размеры контроллера до 340х420х140 см.
                                            li Вес 1,4 кг.
                                        h3 Совместимость сумок с контроллерами следующий моделей:
                                        ul
                                            li Pioneer DJM – 500, 600, 750, 800, 850, 900 – х серий.
                                            li Pioneer СDJ -  800, 850, 900, 1000, 2000 – х серий.
                                        p Универсальная сумка рюкзак подходит под большое количество музыкального и DJ оборудования, для уточнения совместимости сравните размер вашего изделия c размерами сумки-рюкзака DJB CD&M.
                                        ._ab-tovar-info
                                            ._ab-tovar-price
                                                h4 6900 р
                                            ._cat-dt-btnbox-w
                                                ._btn._btn-bagr._js-buy заказать
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ab-video
                                        h2 Видео:
                                        ._ab-tovar-video
                                            iframe(style="display:block;" width="700px" height="500px" src="https://www.youtube.com/embed/IqegWV0GlGs" frameborder="0" allowfullscreen)
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ad-dop-info
                                        h2 Заказ по телефону: <nobr>8 (800) 505-78-25</nobr>
                                        h2 Доставка по Москве бесплатная.
