extends ./layout/layout2
block head-box
    - var pageTitle = 'Сумка DJB HP';
    - var pageImg = './assets/img/DJB-HP-4.jpg';
    - var version = 5;
    - var header = 2;

block layout-box
    ._b-body._js-product
        ._wraph-s.clearfix
            ._scr4-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr4-t
                                h2._js-name Сумка DJB HP
                            ._ab-wraph._ab-tovar.clearfix
                                 .row.clearfix
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        ._ab-tovar-slider
                                            ._ab-tovar-slider-w
                                                img(src="./assets/img/DJB-HP-4.jpg")
                                                img(src="./assets/img/DJB-HP-5.jpg")
                                                img(src="./assets/img/DJB-HP-2.jpg")
                                                img(src="./assets/img/DJB-HP-3.jpg")
                                                img(src="./assets/img/DJB-HP-1.jpg")
                                                img(src="./assets/img/DJB-HP-6.jpg")
                                                img(src="./assets/img/DJB-HP-7.jpg")
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        h3 DJB HP предназначена для переноски и хранения наушников.
                                        h3 Характеристики:
                                        ul
                                            li Цвет черный;
                                            li Состав: NYLON1680D на основе ПВХ. подкладка NYLON300D;
                                            li Размеры наушников до 21х18х9/6 см;
                                            li Вес 250 гр;
                                            li Имеет ручку и плечевой ремень;
                                            li Наружный карман с молнией и с выходом провода для наушников;
                                            li Два внутренних кармана сеточки, один на молнии для хранения не больших предметов; (переходники, флешь карты и т.д.), второй карман по больше, без молнии, для принадлежностей, к которым нужен быстрый доступ;
                                            li Мягкие стенки сумки надежно защитят ваши наушники от внешних воздействий;
                                        ._ab-tovar-info
                                            ._ab-tovar-price
                                                h4 1900 р
                                            ._cat-dt-btnbox-w
                                                ._btn._btn-bagr._js-buy заказать
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ab-video
                                        h2 Видео:
                                        ._ab-tovar-video
                                            iframe(style="display:block;" width="700px" height="500px" src="https://www.youtube.com/embed/3QVFoZ02JVo" frameborder="0" allowfullscreen)
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ad-dop-info
                                        h2 Заказ по телефону: <nobr>8 (800) 505-78-25</nobr>
                                        h2 Доставка по Москве бесплатная.
