extends ./layout/layout2
block head-box
    - var pageTitle = 'Сумка DJB K-Wheels';
    - var pageImg = './assets/img/DJB-KB-W-1.jpg';
    - var version = 5;
    - var header = 2;

block layout-box
    ._b-body._js-product
        ._wraph-s.clearfix
            ._scr4-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr4-t
                                h2._js-name Сумка DJB K-Wheels
                            ._ab-wraph._ab-tovar.clearfix
                                 .row.clearfix
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        ._ab-tovar-slider
                                            ._ab-tovar-slider-w
                                                img(src="./assets/img/DJB-KB-W-1.jpg")
                                                img(src="./assets/img/DJB-KB-2.jpg")
                                                img(src="./assets/img/DJB-KB-4.jpg")
                                                img(src="./assets/img/DJB-KB-5.jpg")
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        h3 Эти модели имеют надежные колесики на подшипниках и удобные ручки для переноса.
                                        h3 Описание:
                                        p Эти модели имеют надежные колесики на подшипниках и удобные ручки для переноса.
                                        ul
                                            li Подходят под большинство современных контроллеров размерами до 76х40х11 см;
                                            li Мягкие стенки сумок надежно защитят контроллер от внешних воздействий;
                                            li Сумка имеет большой наружный карман куда без проблем поместятся ноутбук и наушники или какая-нибудь необходимая коммутация;
                                            li Два больших внутренних прозрачных кармана;
                                            li Крышку сумки от контроллера разделяет мягкий съемный мат на липучках с большим карманом для ноутбука;
                                            li Во внутреннем отсеке есть необходимые перегородки, чтобы контроллер меньших размеров надежно был закреплен;
                                            li Также имеются дополнительные липучки для крепления контроллера к сумке;
                                        h3 Характеристики:
                                        ul
                                            li Цвет черный;
                                            li Состав: NYLON1680D на основе ПВХ. подкладка NYLON600D;
                                            li Размеры контроллера до 76х40х11 см;
                                            li Эти модели имеют надежные колесики на подшипниках и удобные ручки для переноса;
                                            li Большой наружный карман куда без проблем поместятся ноутбук , наушники и вся необходимая коммутация;
                                            li Большие внутренние прозрачные карманы;
                                            li Крышку сумки от контроллера разделяет мягкий съемный мат на липучках с большим карманом для ноутбука;
                                            li Во внутреннем отсеке имеются перегородки для надежного крепления контроллеров меньших;
                                            li Имеются дополнительные липучки для крепления контроллера к сумке.
                                            li Мягкие стенки сумки надежно защитят контроллер от внешних воздействий;

                                        h3 Совместимость сумок с контроллерами следующий моделей:
                                        ul
                                            li Pioneer DDJ : RZ , RX , RB , RR , SB , SB2 , SR , SX , SX2 , SP1 ,T1 ,WEGO , а также TOPAZ TSP-16 , XDJ-AERO , XDJ-R1
                                            li NATIVE INSTRUMENTS : Traktor Kontrol S2 , Traktor Kontrol S4 , Traktor Kontrol S5 , Traktor Kontrol S8 , Traktor Kontrol Z2
                                            li Allen&Heath XONE:DX
                                            li Vestax : VCI-100 , VCI-100 mk2 , VCI-300 , VCI-300 mk2 , VCI-380 ,VCI-400 , VCI-400 TR , VCI-400 DJ , VCM-100 , VCM-600 , Typhoon , Typhoon VDJ , Spin , Spin 2 , PBS-4
                                            li Numark : NV , NS 6 , NS 7 , N4 , Mixtrack Pro Dj , Mixtrack Pro II , Mixtrack Pro III , Mixtrack Platinum , Mixtrack Quad , DJ2GO , 4TRAK , Mixtrack Edge , iDJ , iDJ II iDJ live II , Party Mix , Total Control , Stelth Control , Omni Control , MixMeister Control
                                            li Denon : MC4000 , MC6000
                                            li Ableton : PUSH , PUSH 2
                                            li Reloop : Beatmix 2 , Beatmix 4
                                            li Stanton : DJC.4 , SCS.4DJ , SC System 3
                                            li M-Audio : Torg Xponent , Trigger Finger Pro NOVATION LAUNCH CONTROL , NOVATION LAUNCH CONTROL Mini , ROLAND DJ-808 и др.
                                        ._ab-tovar-info
                                            ._ab-tovar-price
                                                h4 6900 р
                                            ._cat-dt-btnbox-w
                                                ._btn._btn-bagr._js-buy заказать
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ad-dop-info
                                        h2 Заказ по телефону: <nobr>8 (800) 505-78-25</nobr>
                                        h2 Доставка по Москве бесплатная.
