extends ./layout/layout2
block head-box
    - var pageTitle = 'Сумка-рюкзак DJB K-mini Plus';
    - var pageImg = './assets/img/DJB-K-MINI-1.jpg';
    - var version = 5;
    - var header = 2;

block layout-box
    ._b-body._js-product
        ._wraph-s.clearfix
            ._scr4-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr4-t
                                h2._js-name Сумка-рюкзак DJB K-mini Plus
                            ._ab-wraph._ab-tovar.clearfix
                                 .row.clearfix
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        ._ab-tovar-slider
                                            ._ab-tovar-slider-w
                                                img(src="./assets/img/DJB-K-MINI-Plus-1.jpg")
                                                img(src="./assets/img/DJB-K-MINI-Plus-2.jpg")
                                                img(src="./assets/img/DJB-K-MINI-Plus-3.jpg")
                                                img(src="./assets/img/DJB-K-MINI-Plus-4.jpg")
                                                img(src="./assets/img/DJB-K-MINI-Plus-5.jpg")
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        h3 DJB K-mini Plus предназначен для переноски и хранения DJ контроллеров.
                                        h3 Характеристики:
                                        ul
                                            li Цвет черный;
                                            li Состав: NYLON1680D на основе ПВХ. подкладка NYLON300D;
                                            li Размеры контроллера до 58х40х9 см;
                                            li Вес: 1.28 кг;
                                            li Стенки сумки имеют пластиковый каркас с мягким наполнением которые надежно защищают контроллер от внешних воздействий;
                                            li Эти модели имеют удобные ручки для транспортировки, но и специальные лямки, что бы использовать сумку как рюкзак, которые легко убираются в специальный карман;
                                            li Три наружных кармана на молнии: один большой карман с внутренним карманом сеточкой в который без проблем поместятся наушники, коммутация или что то крайне необходимое, и два кармана для не больших предметов;
                                            li Внутри сумка имеет большой мягкий карман для ноутбука с диагональю экрана до 17 дюймов, один не большой карман на молнии для документов или проводов;
                                            li Крышку сумки от контроллера внутри разделяет мягкий мат с двумя  карманами на молнии под размер листа А4 каждый;

                                        h3 Совместимость сумок с контроллерами следующий моделей:
                                        ul
                                            li Pioneer DDJ : RB , RR , RX, SB2 , SR , SP1 ,WEGO , а также TORAIZ TSP-16, XDJ-AERO , XDJ-R1
                                            li NATIVE INSTRUMENTS : Traktor Kontrol S2, Traktor Kontrol Z2
                                            li Allen&Heath XONE:DX
                                            li Vestax : VCI-100 , VCI-100 mk2 , VCI-300 , VCI-300 mk2 , VCI-380 , VCM-100 , VCM-600 , Typhoon , Typhoon VDJ , Spin , Spin 2 , PBS-4
                                            li Numark : Mixtrack Pro Dj , Mixtrack Pro II , Mixtrack Pro III , Mixtrack Platinum , Mixtrack Quad , DJ2GO , Mixtrack Edge , iDJ , iDJ II,  iDJ live II , Party Mix , Total Control , Stelth Control , Omni Control , MixMeister Control
                                            li Denon : MC4000 , MC6000
                                            li Ableton : PUSH , PUSH 2
                                            li Reloop : Beatmix 2 , Beatmix 4
                                            li Stanton : DJC.4 , SCS.4DJ , SC System 3
                                            li M-Audio : Torg Xponent , Trigger Finger Pro LAUNCH CONTROL , NOVATION LAUNCH CONTROL Mini и др
                                        ._ab-tovar-info
                                            ._ab-tovar-price
                                                h4 6900 р
                                            ._cat-dt-btnbox-w
                                                ._btn._btn-bagr._js-buy заказать
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ab-video
                                        h2 Видео:
                                        ._ab-tovar-video
                                            iframe(style="display:block;" width="700px" height="500px" src="https://www.youtube.com/embed/nxWoZp8xOrs" frameborder="0" allowfullscreen)
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ad-dop-info
                                        h2 Заказ по телефону: <nobr>8 (800) 505-78-25</nobr>
                                        h2 Доставка по Москве бесплатная.
