extends ./layout/layout2
block head-box
    - var pageTitle = 'Сумка DJB V';
    - var pageImg = './assets/img/DJB-V-1.jpg';
    - var version = 5;
    - var header = 2;

block layout-box
    ._b-body._js-product
        ._wraph-s.clearfix
            ._scr4-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr4-t
                                h2._js-name Сумка DJB V
                            ._ab-wraph._ab-tovar.clearfix
                                 .row.clearfix
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        ._ab-tovar-slider
                                            ._ab-tovar-slider-w
                                                img(src="./assets/img/DJB-V-1.jpg")
                                                img(src="./assets/img/DJB-V-3.jpg")
                                                img(src="./assets/img/DJB-V-2.jpg")
                                                img(src="./assets/img/DJB-V-4.jpg")
                                                img(src="./assets/img/DJB-V-5.jpg")
                                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                        h3 СУМКА ДЛЯ ВИНИЛОВЫХ ПРОИГРЫВАТЕЛЕЙ С ПЛЕЧЕВЫМ РЕМНЕМ
                                        h3 Характеристики:
                                        ul
                                            li Цвет черный;
                                            li Состав: NYLON1680D на основе ПВХ. подкладка NYLON300D;
                                            li Размеры контроллера до 480х400х180 см;
                                            li Вес:2.9 кг.;
                                            li Эта модель имеет удобные ручки для транспортировки и плечевой ремень;
                                            li Три наружных кармана на молнии и один на «липучке»: один большой карман на лицевой стороне сумки, два боковых кармана для не больших предметов, и большой задний карман на липучке;
                                            li Внутри сумка имеет большой прозрачный карман на молнии для документов или проводов;
                                            li Защиту проигрывателя, а в особенности платтера (диска) от выпадения, обеспечивает специальный мягкий мат, который плотно прижимается к проигрывателю толстыми липучими лентами, что позволяет проигрывателю быть надежно прижатым к сумке;
                                            li Стенки сумки имеют пластиковый каркас с мягким наполнением в 15-20 мм которые надежно защищают проигрыватель от внешних воздействий;
                                        h3 Совместимость сумок с проигрывателями следующий моделей:
                                        ul
                                            li Technics SL-1200, SL-1200 MK2, SL-1200GR, SL-1210, SL-1210MK2 и т.д.
                                            li Vestax PDX-3000 Mk2
                                            li Pioneer PLX – 500, PLX – 1000
                                            li Audio-Technica AT-LP1240USB,  AT LP60USB
                                            li Numark TT250
                                            li Reloop RP-1000 M, RP-2000 MK3
                                        ._ab-tovar-info
                                            ._ab-tovar-price
                                                h4 6900 р
                                            ._cat-dt-btnbox-w
                                                ._btn._btn-bagr._js-buy заказать
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ab-video
                                        h2 Видео:
                                        ._ab-tovar-video
                                            iframe(style="display:block;" width="700px" height="500px" src="https://www.youtube.com/embed/bczfCSYKcyc" frameborder="0" allowfullscreen)
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12._ad-dop-info
                                        h2 Заказ по телефону: <nobr>8 (800) 505-78-25</nobr>
                                        h2 Доставка по Москве бесплатная.
