extends ./layout/layout
block head-box
    - var pageTitle = 'Сумки и кейсы для музыкального оборудования от DJBAG';
    - var pageImg = './assets/img/social.jpg';
    - var version = 5;
    - var headerType = 1;

block layout-box
    ._b-body
        ._wraph-s.clearfix
            ._scr1-box-slider(style='background: none!important;')
                ._b-fix
                    .row.clearfix._b-h100
                        .col-sm-12._b-h100
                            ._scr1-t
                                ._scr1-t-cont
                                    h1.
                                        Сумки и кейсы<br>
                                        для музыкального<br>
                                        оборудования от<br>
                                        <span>DJ BAG</span>
                                    ._empty._fx-hidemobile
                                        ._btn._btn-red(data-scroll-to="#scr2") ПОСМОТРЕТЬ КАТАЛОГ
                #_scr1-box-sl._scr1-box-sl
                    ._scr1-box(style='background: url("./assets/img/sphoto-3.jpg"), url("./assets/img/sphoto-3-mob.jpg");')
                    ._scr1-box(style='background: url("./assets/img/sphoto-1.jpg"), url("./assets/img/sphoto-1-mob.jpg");')
                    ._scr1-box(style='background: url("./assets/img/sphoto-2.jpg"), url("./assets/img/sphoto-2-mob.jpg");')
                    ._scr1-box(style='background: url("./assets/img/sphoto-4.jpg"), url("./assets/img/sphoto-4-mob.jpg");')
                    ._scr1-box(style='background: url("./assets/img/sphoto-0.jpg"), url("./assets/img/sphoto-0-mob.jpg");')
                    ._scr1-box(style='background: url("./assets/img/sphoto-5.jpg"), url("./assets/img/sphoto-5-mob.jpg");')
                    ._scr1-box(style='background: url("./assets/img/sphoto-6.jpg"), url("./assets/img/sphoto-6-mob.jpg");')
                    ._scr1-box(style='background: url("./assets/img/sphoto-7.jpg"), url("./assets/img/sphoto-7-mob.jpg");')

            #scr2._scr2-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr2-t
                                h2 Каталог

                            ._cat-wraph.clearfix
                                +catalog({
                                    "name":'DJB Backpack',
                                    "price":'Скоро в продаже',
                                    "img":'./assets/img/DJB-Backpack-1.jpg',
                                    "img2":'./assets/img/DJB-Backpack-2.jpg',
                                    "title":'Рюкзак для микшерных пультов и проигрывателей',
                                    "mindsk":'Рюкзак для микшерных пультов и проигрывателей',
                                    "gallery":['./assets/img/DJB-Backpack-1.jpg','./assets/img/DJB-Backpack-2.jpg'],
                                    "key":'tov1',
                                    "item":'backpack',
                                    "val":' ',
                                    "buytext":'заказать',
                                    "youtube":false,
                                    "more":"off",
                                    "fullPage":"off"
                                    })
                                +catalog({
                                    "name":'DJB CD&M Plus',
                                    "price":'6900',
                                    "img":'./assets/img/DJB-CD-M-Plus-5.jpg',
                                    "img2":'./assets/img/DJB-CD-M-Plus-2.jpg',
                                    "title":'Сумка-рюкзак для микшерных пультов и проигрывателей DJB CD&M Plus',
                                    "mindsk":'Сумка для микшерных пультов и проигрывателей CD',
                                    "gallery":['./assets/img/DJB-CD-M-Plus-1.jpg','./assets/img/DJB-CD-M-Plus-2.jpg','./assets/img/DJB-CD-M-Plus-3.jpg','./assets/img/DJB-CD-M-Plus-4.jpg','./assets/img/DJB-CD-M-Plus-5.jpg'],
                                    "key":'tov2',
                                    "item":'djbcdmplus',
                                    "val":'',
                                    "buytext":'заказать',
                                    "youtube":true
                                    })
                                +catalog({
                                    "name": 'DJB HP',
                                    "price": '1900',
                                    "img": './assets/img/DJB-HP-4.jpg',
                                    "img2": './assets/img/DJB-HP-3.jpg',
                                    "title": 'Сумка для наушников DJB HP',
                                    "mindsk": 'Сумка для наушников с плечевым ремнем',
                                    "gallery": ['./assets/img/DJB-HP-4.jpg','./assets/img/DJB-HP-5.jpg','./assets/img/DJB-HP-2.jpg','./assets/img/DJB-HP-3.jpg','./assets/img/DJB-HP-1.jpg','./assets/img/DJB-HP-6.jpg','./assets/img/DJB-HP-7.jpg'],
                                    "key": 'tov3',
                                    "item": 'djbhp',
                                    "val": '',
                                    "buytext": 'заказать',
                                    "youtube": true
                                })
                                +catalog({
                                    "name": 'DJB K MINI Plus',
                                    "price": '6900',
                                    "img": './assets/img/DJB-K-MINI-Plus-3.jpg',
                                    "img2": './assets/img/DJB-K-MINI-Plus-2.jpg',
                                    "title": 'Сумка-рюкзак для пульта DJB K MINI Plus',
                                    "mindsk": 'Сумка-рюкзак для dj контроллера',
                                    "gallery": ['./assets/img/DJB-K-MINI-Plus-1.jpg','./assets/img/DJB-K-MINI-Plus-2.jpg','./assets/img/DJB-K-MINI-Plus-3.jpg','./assets/img/DJB-K-MINI-Plus-4.jpg','./assets/img/DJB-K-MINI-Plus-5.jpg'],
                                    "key": 'tov4',
                                    "item": 'djbk-mini',
                                    "val": '',
                                    "buytext": 'заказать',
                                    "youtube": true
                                })
                                +catalog({
                                    "name": 'DJB V',
                                    "price": '6900',
                                    "img": './assets/img/DJB-V-1.jpg',
                                    "img2": './assets/img/DJB-V-3.jpg',
                                    "title": 'Сумка для виниловых проигрывателей DJB V',
                                    "mindsk": 'Сумка для виниловых проигрывателей с плечевым ремнем',
                                    "gallery": ['./assets/img/DJB-V-1.jpg','./assets/img/DJB-V-3.jpg','./assets/img/DJB-V-2.jpg','./assets/img/DJB-V-4.jpg','./assets/img/DJB-V-5.jpg'],
                                    "key": 'tov5',
                                    "item": 'djbv',
                                    "val": '',
                                    "buytext": 'заказать',
                                    "youtube": true
                                })
                                +catalog({
                                    "name": 'DJB CD&M',
                                    "price": '5900',
                                    "img": './assets/img/DJB-CD-M-1.jpg',
                                    "img2": './assets/img/DJB-CD-M-4.jpg',
                                    "title": 'Сумка-рюкзак для микшерных пультов и проигрывателей DJB CD&M',
                                    "mindsk": 'Сумка для микшерных пультов и проигрывателей CD',
                                    "gallery": ['./assets/img/DJB-CD-M-1.jpg','./assets/img/DJB-CD-M-2.jpg','./assets/img/DJB-CD-M-3.jpg','./assets/img/DJB-CD-M-4.jpg','./assets/img/DJB-CD-M-5.jpg','./assets/img/DJB-CD-M-6.jpg','./assets/img/DJB-CD-M-7.jpg'],
                                    "key": 'tov6',
                                    "item": 'djbcdm',
                                    "val": '',
                                    "buytext": 'заказать',
                                    "youtube": true
                                })
                                +catalog({
                                    "name": 'DJB KB',
                                    "price": '6900',
                                    "img": './assets/img/DJB-KB-1.jpg',
                                    "img2": './assets/img/DJB-KB-2.jpg',
                                    "title": 'Сумка для пульта DJB KB',
                                    "mindsk": 'Сумка для dj контроллера с плечевым ремнем',
                                    "gallery": ['./assets/img/DJB-KB-1.jpg','./assets/img/DJB-KB-2.jpg','./assets/img/DJB-KB-3.jpg','./assets/img/DJB-KB-4.jpg','./assets/img/DJB-KB-5.jpg'],
                                    "key": 'tov7',
                                    "item": 'djbkb',
                                    "val": '',
                                    "buytext": 'заказать',
                                    "youtube": true
                                })
                                +catalog({
                                    "name": 'DJB K-Wheels',
                                    "price": '6900',
                                    "img": './assets/img/DJB-KB-W-1.jpg',
                                    "img2": './assets/img/DJB-KB-2.jpg',
                                    "title": 'Сумка для пульта DJB K-Wheels',
                                    "mindsk": 'Сумка для dj контроллера на колесиках',
                                    "gallery": ['./assets/img/DJB-KB-W-1.jpg','./assets/img/DJB-KB-2.jpg','./assets/img/DJB-KB-4.jpg','./assets/img/DJB-KB-5.jpg'],
                                    "key": 'tov8',
                                    "item": 'djbkbw',
                                    "val": '',
                                    "buytext": 'заказать',
                                    "youtube": false
                                })
            //-#scr3._scr3-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr3-t
                                h2 Отзывы
                            ._sl-wraph
                                #slider._slider
                                    +slider('./assets/img/djlight.jpg', 'Dj G-LIGHT','http://promodj.com/glight', "Что можно сказать про сумку. Сделано добротно. Есть куча отделений под сопутствующие принадлежности ( провода, наушники)! Внутренняя часть возможно трансформировать под удобную эргономику. Пошив очень качественный. Самое главное что хотелось отметить, это цена на это изделие! Практически в два раза ниже импортных аналогов, при том, что качество ни разу не уступает.")

            #scr4._scr4-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr4-t
                                h2 О нас
                            ._ab-wraph.clearfix
                                 .row
                                     .col-sm-5._ab-s1
                                         ._ab-text
                                             p.
                                                 Мы совсем недавно зашли на рынок аксессуаров музыкального оборудования, но уже успели обратить на
                                                 себя внимание профессионалов индустрии и заставить призадуматься иных производителей.
                                                 <br><b>Мы</b> сами являемся ди-джеями и поэтому все наши продукты идеально подходят под требования
                                                 современных музыкантов, ведь мы по своему опыту знаем, чего именно они хотят.
                                                 Производство находится на территории России, наша компания, DJ-BAG, производит свои продукты на высочайшем уровне,
                                                 при этом предлагая покупателям приемлемые цены за столь качественный продукт.
                                                 Вся линейка бренда тестируется в самых суровых гастрольных испытаниях, где и показывает максимальный комфорт,
                                                 совпадающий с надежной защитой для любого аппарата.
                                         ._ab-ico
                                            ._ab-ico-w
                                                ._ab-ico-w-i.wow.bounceInUp
                                                    img(title="DJ-BAG" src='./assets/img/russia.svg')._svg
                                                    span Сделано<br>в России
                                                ._ab-ico-w-i.wow.bounceInUp
                                                    img(title="DJ-BAG" src='./assets/img/quality.svg')._svg
                                                    span Качественные<br>материалы
                                                ._ab-ico-w-i.wow.bounceInUp
                                                    img(title="DJ-BAG" src='./assets/img/ok.svg')._svg
                                                    span Удобство<br>и практичность

                                     .col-sm-7._ab-s2
                                         a(href="")._ab-img.wow.bounceInRight
            #scr4-1._scr4-box
                ._b-fix
                    .row.clearfix
                        .col-sm-12
                            ._scr4-t
                                h2 Наши партнеры
                            ._ab-wraph.clearfix
                                 .row
                                     .col-sm-12._ab-s1
                                         #_partner-slider._ft-soc-wrap
                                             ._ft-soc-wrap-item
                                                 img(src="./assets/img/allfordj-logo.png")
                                             ._ft-soc-wrap-item
                                                 img(src="./assets/img/muztorg-logo.png")
                                             ._ft-soc-wrap-item
                                                 img(src="./assets/img/djtools-logo.png")