footer._wraph-s.clearfix
    #scr5._scr5-box
        ._b-fix
            .row.clearfix
                .col-sm-12
                    ._ft-soc-m
                        ._ft-soc-t
                            ._ft-soc-t-cell
                                ._location-w.wow.bounceInLeft
                                    img(title='Москва, м. Дмитровская, Новодмитровская дво 1 "Хлебозавод"' alt="Шоу-рум djbag.ru" src='./assets/img/showroom-bag.svg')._svg
                                    h3 Шоу-рум
                                    p Москва, м. Дмитровская, <br>Новодмитровская дво 1 "Хлебозавод"
                            ._ft-soc-t-cell
                                ._location-w.wow.bounceInRight
                                    img(title='Москва, м. Перово, ул. Кусковская 20А, БЦ "Кусково"' alt="Склад djbag.ru" src='./assets/img/stock-box.svg')._svg
                                    h3 Склад
                                    p Москва, м. Перово, <br>ул. Кусковская 20А, БЦ "Кусково"
                            ._ft-soc-t-cell
                                ._location-w.wow.bounceInRight
                                    img#officeIco(title='143914 Московская обл. г. Балашиха, мкр. Никольско-Архангельский, ул. 1-я Линия, дом 64.' alt="офис djbag.ru" src='./assets/img/building.svg')._svg
                                    h3 Юридический адрес
                                    p 143914 Московская обл. г. Балашиха, мкр. Никольско-Архангельский, ул. 1-я Линия, дом 64.

                    ._ft-bbox
                        ._btn._btn-red._js-buy-all Заказать звонок
                    ._ft-soc
                        ._ft-soc-t
                            a._ft-soc-t-cell(target="_blank" title="Вконтакте djbag.ru" href="https://vk.com/djbagru").wow.bounceInUp
                                img(title="Вконтакте djbag.ru" alt="Вконтакте djbag.ru" src='./assets/img/vk.svg')._svg
                            a._ft-soc-t-cell(target="_blank" title="Facebook djbag.ru" href="https://www.facebook.com/groups/1154484114673363/").wow.bounceInUp
                                img(title="Вконтакте djbag.ru" alt="Вконтакте djbag.ru" src='./assets/img/facebook-logo.svg')._svg
                            a._ft-soc-t-cell(target="_blank" title="Инстаграм djbag.ru" href="https://www.instagram.com/djbag.ru/").wow.bounceInUp
                                img(title="Инстаграм djbag.ru" alt="Инстаграм djbag.ru" src='./assets/img/instagram.svg')._svg
                            a._ft-soc-t-cell(target="_blank" title="PromoDJ djbag.ru" href="https://promodj.com/djbag2017").wow.bounceInUp
                                img(title="PromoDJ djbag.ru" alt="PromoDJ djbag.ru" src='./assets/img/promodj.svg')._svg
                            //a(href="#").wow.bounceInUp
                                img(title="Вконтакте" src='./assets/img/facebook.svg')._svg
                            a._ft-soc-t-cell(title="sale@djbag.ru" href="mailto:sale@djbag.ru").wow.bounceInUp
                                img(title="sale@djbag.ru" alt="sale@djbag.ru"  src='./assets/img/envelope.svg')._svg
                        ._ft-soc-t
                            p._ft-soc-t-ogrn.
                                Общество с ограниченной ответственностью "МУЗБЭГ"<br>
                                ОГРН: 1175053010923<br>
                                ИНН/КПП: 5001114828/500101001

include modals
link(href="./assets/fonts/RobotoCondensed/stylesheet.min.css?v="+ date +"" type="text/css" rel="stylesheet")
script(src="./assets/libs/js/vendor.min.js?v="+ date +"" type="text/javascript")
script(src="./assets/js/main.min.js?v="+ date +"" type="text/javascript")
include ../include/metrika.html
include ../include/vk-messager.html
