._banner
    a(href="https://online.messefrankfurt.ru/?EXHIBITION_ID=212644")
        img(src="./assets/img/banner.jpg")
    ._js-btn-banner
header#menuheader._wraph-s.clearfix._h-scroll
        ._head-box
            ._b-fix
                .row._header-m._b-h100
                    .col-sm-6._header-m-1._b-h100
                        ._h-tab.clearfix
                            ._h-tab-logo
                                ._logo-box
                                    ._logo-box-cell
                                        img(title="DJ-BAG" src='./assets/img/logo.svg')._svg
                            ._h-tab-menu
                                ._menu
                                    ul#menu
                                        li
                                            a(href="#home")._-home-btn
                                                img(title="Домой" src='./assets/img/home.svg')._svg
                                        li
                                            a(href="#scr2") Каталог
                                        //-li
                                            a(href="#scr3") Отзывы
                                        li
                                            a(href="#scr4") О нас
                                        li
                                            a(href="#scr4-1") Партнеры
                                        li
                                            a(href="#scr5") Контакты
                    .col-sm-6._header-m-2._b-h100
                        ._h-tab-tel
                            ._tb-tel
                                ._tb-tel-w
                                    a(href="tel:+78005057825")
                                        span._c-gray 8(800)
                                        span._c-white 505-78-25
                                ._tb-tel-w._sml-t
                                    span._sml-txt Звонок бесплатный

                        ._h-tab-button
                            a._btn-T._btn-red._js-buy-all
                                span Купить
