mixin catalog(obj)
    -title = obj.title;
    -name = obj.name?obj.name:'Сумка А025';
    -title = obj.title?obj.title:'Сумка А025';
    -price = obj.price?obj.price:'15 000';
    -img = obj.img?obj.img:'./assets/img/item.jpg';
    -img2 = obj.img2?obj.img2:'./assets/img/item2.jpg';
    -mindsk = obj.mindsk?obj.mindsk:'Сумка для dj контроллера';
    -item = obj.item?obj.item:'';
    -val = obj.val?obj.val:' р';
    -buytext = obj.buytext?obj.buytext:'купить';
    -youtube = obj.youtube?obj.youtube:false;

    -key = obj.key?obj.key:'';
    -gallery = typeof obj.gallery == 'object' && obj.key?obj.gallery:{};
    -youtubeClass = '';
    if youtube == true
        -youtubeClass = ' _youtube-true';

    -moreButtonClass = '';
    if obj.more == 'off'
        -moreButtonClass = ' _css-no-more';
    else
        -moreButtonClass = ' _js-more';


    .col-sm-3
        ._cat._js-product(title=title data-item-ar=item)
            ._hide-galery
                each val in gallery
                    a._jfb-galer(rel=key data-fancybox-rel=key data-fancybox-href=val href=val data-fancybox-title=name)

            ._cat-img._js-opgalery(data-open-gal=key style="background:url("+ img2 +");")
                ._cat-img(style="background:url("+ img +");")
            ._cat-dtl
                h4._js-pre-name=mindsk
                a._ad-name(href=(obj.fullPage != 'off'?item+'.html':'javascript:void(0);'))
                    h3._js-name(title=title)=name
                h4=price + val
                ._cat-dt-btnbox
                    ._cat-dt-btnbox-w
                        a._btn._btn-bagr._js-buy=buytext
                    ._cat-dt-btnbox-w(class=youtubeClass style="padding-top:10px;")
                        a._btn._btn-bagr._btn-bagr-more(class=moreButtonClass)
                            span Подробнее&nbsp;
                            if youtube==true
                                ._youtube-btn
                                    img(data-width="1" style="height:100%;" title=name src='./assets/img/youtube.svg')._svg


mixin slider(photo, name, link, text)
    -photo = photo?photo:'./assets/img/dj.jpg';
    -name = name?name:'DJ UNNAMED';
    -link = link?link:'#';
    -text = text?text:'“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.';
    ._slider-i
        ._item
            .row-t.clearfix
                .col-sm-5-t
                    ._item-photo(style="background:url("+ photo +")")
                .col-sm-7-t
                    ._item-text
                        h3=name
                            a._dj-link(target="_blank" href=""+ link +"")
                                img(style="max-height:35px;" title=name src='./assets/img/link.svg')._svg
                        p=text