._hidden
    #buy.remodal._j-modal
        button(data-remodal-action="close").remodal-close
        form._form._js-send(action='/mail.php')
            ._form-w
                h3 Условия доставки:
                ul
                    li Бесплатная доставка в пределах МКАД
                    li Доставка во все регионы России ТК или EMS
            ._form-w
                ._form-row
                    input(type="text" name="name" placeholder="Имя" required)
                ._form-row
                    input(type="text" name="phone" placeholder="Телефон" required)
                ._form-row
                    input(type="email" name="email" placeholder="Емейл" required)
                ._form-row
                    textarea(name="message" placeholder="Комментарий")
                div._js-hide(style="display:none;")
                ._form-row(style="max-width: 360px;display: inline-block;margin-top: 30px;")
                    .g-recaptcha(data-sitekey="6LcwICAUAAAAADJc2hyQhhrUys-5cwuzpbIPNTxp")
                ._form-row
                    button.remodal-cancel(type="submit") Отправить
    #j_desc.remodal._j-modal-desc
        button(data-remodal-action="close").remodal-close
        ._item-desc#_item-desc
    #j_video.remodal._j-modal-desc
        button(data-remodal-action="close").remodal-close
        ._item-desc#_item-video
