doctype html
include ../include/mixin
html#home
    head
        - var date = Math.round(new Date().getTime() / 1000);
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" type="image/x-icon" href="./assets/img/favicon.ico?v="+ date +"")
        block head-box
        title= pageTitle || 'project title'
        meta(name="Keywords" content="dj, djBag, case dj, кейсы, сумки, ДиДжей, оборудование, чехлы для пультов")
        meta(name="Description" content="Компания DJ - Bag поставщик высококачественных аксессуаров для музыкального оборудования на Российском рынке.")
        link(href="./assets/libs/css/vendor.min.css?v="+ date +"" type="text/css" rel="stylesheet")
        link(href="./assets/css/main.min.css?v="+ date +"" type="text/css" rel="stylesheet")

        meta(property="business:contact_data:locality" content="Москва")
        meta(property="business:contact_data:country_name" content="Россия")
        meta(property="business:contact_data:street_address" content="Кусковская 20А")
        meta(property="business:contact_data:postal_code" content="111141")
        meta(property="business:contact_data:email" content="sale@djbag.ru")
        meta(property="business:contact_data:phone_number" content="8(916) 503-89-82")
        meta(property="business:contact_data:website" content="http://www.djbag.ru")
        meta(property="og:type" content="article")
        meta(property="og:title" content=pageTitle)
        meta(property="og:description" content="Компания DJ - Bag поставщик высококачественных аксессуаров для музыкального оборудования на Российском рынке.")
        meta(property="og:url" content="http://djbag.ru")
        meta(property="og:image" content=pageImg)
        meta(property="image" content=pageImg)
        script(src="https://www.google.com/recaptcha/api.js")
        - var unixTime = Math.round(new Date().getTime() / 1000);
        - var headerType = headerType || 1

    block html-box